<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#EE6E73">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/content/fontawesome/css/fa")
    @Styles.Render("~/Content/materialize/css/ma")
    @Styles.Render("~/styles")    
</head>

<body>
    @RenderBody()

    @Scripts.Render("~/jquery")

    <script type="text/javascript">

        (function ($, window, undefined) {
            'use strict';
            $.cfg = $.cfg || { cfg: {} };
            $.cfg.kladr = '';
        })(jQuery, window);

    </script>
   
    @Scripts.Render("~/ma")

    @Scripts.Render("~/ng")
    @Scripts.Render("~/app")


    @Scripts.Render("~/misc")
</body>
</html>
