<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#EE6E73">

    <title>@ViewBag.Title</title>

    @*@Styles.Render("~/Content/font-awesome.css")*@

    @Styles.Render("../Ait.Infrastructure.Web/content/fontawesome/css/fa")

    @Styles.Render("../Ait.Infrastructure.Web/content/materialize/css/ma")

    @*@Styles.Render("~/Content/materialize/css/materialize.css")*@

    @Styles.Render("~/styles")

    @*@Scripts.Render("~/jquery")*@

    @Scripts.Render("../Ait.Infrastructure.Web/jquery")
</head>

<body>

    @RenderBody()


    @*@Scripts.Render("~/Scripts/materialize/materialize.min.js")*@

    @Scripts.Render("../Ait.Infrastructure.Web/ma")

    @*@Scripts.Render("~/ng")*@

    @Scripts.Render("../Ait.Infrastructure.Web/ng")

    @Scripts.Render("~/app")

    @Scripts.Render("../Ait.Infrastructure.Web/misc")
</body>


</html>
